html,
body,
div {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

ul.options {
  list-style: none;
  padding: 0;
}

.product-search-container {
  display: flex;
}
